  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Jian Loong blog" />
    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/blog.min.css">
    <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.touchSwipe.min.js"></script>
    {% include google_analytics.html %}

    <script type="text/javascript">

    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(function() {      
        $(".swipe").swipe( { allowPageScroll:"auto",
          swipe:function(event, direction, distance, duration, fingerCount, fingerData) {


            if ( direction == 'right' && distance > 200)
              $("#sidebar-checkbox").prop('checked', true);

            if ( direction == 'left' && distance > 200)
              $("#sidebar-checkbox").prop('checked', false);
          },
          threshold:0
        });
      });
    }

    </script>
  </head>


